<link rel = "stylesheet" href = "css/bootstrap.css">
<center><br><br><br>
<p>How many people are in class today?</p>


<form method = "post" action = "names" id = "text_box">
    <input type ="number" min = 2 autofocus = "autofocus" id ="myInput" oninput = "myFunction()" >
    <p id = "demo"></p>
    <br>
    <input type = "submit">
</form>

<script src = "js/auto_box.js"></script>
<br><br><br><br>
<img src="/img/logo_small.png"></center>